.btn-clearCart {
  background-color: rgb(255, 0, 0);
  padding: 12px 20px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
  text-decoration: none;
  border: none;
  margin-right: 15px;
}

.btn-clearCart:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 0, 0);
}

.link-noHayProductos {
  background-color: rgb(20, 87, 244);
  padding: 12px 20px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
}

.texto-noHayProductos {
  color: white;
  text-decoration: none;
}
.texto-noHayProductos:hover {
  color: rgb(20, 87, 244);
  background-color: rgb(227, 225, 239);
  color: rgb(20, 87, 244);
  text-decoration: none;
}


.btn-comprar {
  text-decoration: none;
  color: white;
}
.btn-comprar:hover {
  color: rgb(20, 87, 244) ;
}

