.container-itemCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre-producto {
  background-color: rgb(188, 188, 238);
  border: 2px rgb(50, 50, 158) solid;
  border-radius: 7px;
  padding: 5px;
}


.itemCart {
  display: flex;
  background-color: rgb(188, 188, 238);
  justify-content: space-evenly;
  border-radius: 5px;
  width: 75%;
  font-size: 17px;
  margin: 10px 0;
  padding: 15px 0 5px 0;
}

.container-info-producto {
  padding-top: 5px;
}

.btn-removeItem {
  background-color: rgb(188, 188, 238);
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
  text-decoration: none;
  border: none;
}

.btn-removeItem:hover {
  background-color: rgb(188, 188, 238);
  padding: 5px 10px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
  text-decoration: none;
  border: none;
}
