.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: white;
}

.img-productos {
  width: 250px;
}

.producto1,
.producto2,
.producto3,
.producto4,
.producto5,
.producto6,
.producto7,
.producto8,
.producto9 {
  width: 350px;
  font-size: 20px;
  margin-bottom: 30px;
  /*******************/
  /* background-color: rgb(124, 122, 245);
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);*/
  border-radius: 5px;
  padding: 5px;
  margin: 20px;

  background: linear-gradient(
    344deg,
    rgba(40, 40, 55, 1) 0%,
    rgba(16, 16, 18, 1) 50%
  );
  box-shadow: 4px 6px 14px #2f2f42;
}

button {
  background-color: rgb(20, 87, 244);
  border: 1px solid rgb(20, 87, 244);
  padding: 12px 20px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
}

button:hover {
  border: 1px solid rgb(20, 87, 244);
  background-color: transparent;
  color: rgb(20, 87, 244);
  background-color: rgb(227, 225, 239);
}
