.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin-left: 0;
}

@media (max-width: 800px) {
  .container-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    text-align: center;
  }
}

.img-productos {
  width: 250px;
}

.auriculares,
.parlantes-portatiles,
.parlantes-de-fiesta,
.parlantes-de-exterior {
  width: 78%;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  background-color: #fff;
  padding: 10px 12px;
  color: black;
}

button {
  background-color: rgb(20, 87, 244);
  border: 1px solid rgb(20, 87, 244);
  padding: 12px 20px;
  border-radius: 7px;
  transition: 0.3s;
  color: #fff;
  margin-top: 5px;
}

button:hover {
  border: 1px solid rgb(20, 87, 244);
  background-color: transparent;
  color: rgb(20, 87, 244);
  background-color: rgb(227, 225, 239);
}
