.NavBar {
  width: 100%;
  background-color:#0E3386;
  font-size: 20px;
}

.NavBar img {
  margin-top: 15px;
}


.componentes-NavBar {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.componentes-NavBar li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  text-align: left;
}

.componentes-NavBar li:hover {
  background-color: rgb(31, 31, 160);
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.componentes-NavBar li:hover .menu-vertical {
  display: block;
}

.menu-vertical a:hover {
  background-color: rgb(23, 23, 118) ;
  color: white;
}
.menu-vertical li a {
  display: block;
  color: white;
  padding: 15px, 15px, 85px, 20px;
  text-decoration: none;
}
.menu-vertical li {
  color: white;
}

.elements-NavBar {
  color: white;
  text-decoration: none;
}


.ActiveOption {
  background-color: rgb(23, 23, 118);
  
}