/* .BotonesItemCount {
  width: 200px;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.9);
  border-radius: 5px;
}

.BotonesProductos {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.BotonesItemCount button {
  margin-left: 20px;
  margin-right: 20px;
} */
.num-cuenta {
  font-size: 23px;
}
.btn-decrementar {
  margin-right: 10px;
}
.btn-incrementar {
  margin-left: 10px;
}
.btn-anadir-al-carrito {
  display: grid;
  margin-top: 13px;
}

.botonesItemCount {
  display: inline-block;
}

