.BotonesItemCount {
  width: 200px;
  padding: 10px;
  background-color: rgb(13, 10, 57);
  border-radius: 5px;
}

.BotonesProductos {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.BotonesItemCount button {
  margin-left: 20px;
  margin-right: 20px;
}
